.search-input-form {
  margin: 2vmin;
  width: 50vmin;
  font-size: 1.2rem;
}

.search-input-inputs-container,
.search-input-submit-btn-container {
  width: 100%;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.search-input-input-element {
  width: 50%;
  text-align: center;
}


.search-input-submit-btn {
  margin: auto;
  padding: 0.2em 0.3em;
}
